<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--
HEY, YOU.

ADDING A CHANGELOG ENTRY? MAKE changelog/USERNAME.yml.  READ example.yml SO YOU DON'T SCREW UP.
--->
<html>
	<head>
		<title>/lan/station 13 Changelog</title>
		<link rel="stylesheet" type="text/css" href="changelog.css">
		<script type='text/javascript'>
            function changeText(tagID, newText, linkTagID) {
                var tag = document.getElementById(tagID);
                tag.innerHTML = newText;
                var linkTag = document.getElementById(linkTagID);
                linkTag.removeAttribute("href");
                linkTag.removeAttribute("onclick");
            }

		</script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<!--
		Header Section
		-->
		<div class="header"><pre>LanStation 13                                                                                                                                                                                                       
</pre>
		</div>

		<!--

		AGAIN, TO ADD SHIT, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE.

		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***

		-->
		<div class="commit sansserif">
